body {
    margin: 0;
}

.root {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(74, 193, 247, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 700px;
    width: 500px;
}
